body {
  font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
  background-color: #6DA3E4;
}

.jumbotron {
  background-color: #65666A;
}

.jumbotron h1 {
  color: #6DA3E4;
  font-size: 80px;
  margin-left: 200px;
  margin-top: -40px;
  margin-bottom: -40px;
}

#fizzForm {
  margin: 0 auto;
  color: #000;
  background-color: #9BA1AF;
  width: 90%;
}

#fizzForm input {
  background-color: #65666A;
  border-style: none;
  color: #6DA3E4;
  font-weight: bold;
  padding: 5px;
}

#fizzForm button {
  float: right;
  margin-top: -50px;
  margin-right: 50px;
}

#reverse {
  margin-right: 100px;
}

#resultList {
  margin-top: 10px;
  margin-left: 40px;
}

#resultList ul {
  font-size: 20px;
  font-weight: bold;
}

#sideBar {
  background-color: #9BA1AF;
  height: 300vw;
  margin-top: -32px;
}

#about {
  padding: 20px;
}
